body {
    background-color: white;
}

.navbar {
    background:#000000;
    height: 80px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
    position:sticky;
    top:0;
    z-index:999;
}

.navbar_container{
    display:flex;
    justify-content: space-between;
    height:80px;
    z-index:1;
    width: 100%
    max-width:1300px;
    margin: 0 auto;
    padding: 0 50px;
    border:none;
    

}
.navbar__links{
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    width:150px;
    text-decoration:none;
    height:100%
    font-family: Tahoma ;
}



.navbar__links:hover {
    border-color:black;
    color: #fcafae;
    transform: translateY(-0.30em);
    cursor:pointer;
    transition: all 0.5s ease;
      }
    

.navbar_logo {
    background-color:black;
    color:#fcafae;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2ems;
    padding-right: 250px;

}
.navbar_logo:hover{
    transform: translate3d(-1rem, 0, 1rem);
    transition: all 1s ease;
}
.navbar_logo::after{
    transition:all 1s ease;
}