.mainbody{
    text-align:center;
    overflow:hidden;
    padding-top:40vh;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    color:#F27980;
    font-family:'Roboto';
   
    font-size:6.9vh;
    
  }
  
  
  .navbar {
      background:#000000;
      height: 80px;
      display:flex;
      justify-content:center;
      align-items: center;
      font-size: 1rem;
      position:sticky;
      top:0;
      z-index:999;
  }
  
  .navbar_container{
      display:flex;
      justify-content: space-between;
      height:80px;
      z-index:1;
      width: 100%;
      max-width:1300px;
      margin: 0 auto;
      padding: 0 50px;
      border:none;
      
  
  }
  .navbar__links{
      color:white;
      display:flex;
      align-items:center;
      justify-content: center;
      width:150px;
      text-decoration:none;
      height:100%;
      font-family: Tahoma ;
  }
  
  
  
  .navbar__links:hover {
      border-color:black;
      color: #fcafae;
      transform: translateY(-0.30em);
      cursor:pointer;
      transition: all 0.5s ease;
        }
      
  
  .navbar_logo {
      background-color:black;
      color:#fcafae;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 2ems;
      padding-right: 200px;
      font-family:Tahoma;
  
  }
  .navbar_logo:hover{
      transform: translateX(-0.20em);
      transition: all 0.5s ease;
     
  }
  .navbar_logo::after{
      transition:all 1s ease;
  }
  
  
  .main{
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  .main:first-of-type{
    animation: showup 7s infinite;
    
  }
  .main:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
   
  }
  main:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  @keyframes showup {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity:1;}
    100% {opacity:0;}
  }
  .firstword{
    animation:showup 1s infinite;
  }
  @keyframes slidein {
    0% {margin-left:-800px;}
    20% {margin-left:-800px; }
    35% {margin-left:0px; }
    100% {margin-left:0px; }
    
  }
  @keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:300px;}
    80% {opacity:1;}
    100% {opacity:0;width:300px;}
  }
  
  .mainbtn:first-of-type{
    animation: showup 20s;
  }
  .mainbtn{
    background: #F27980;
    color:white;
    border:2px solid;
    padding: 1em 3em;
    font-size: 1em;
    transition: all 1s ease-in-out;
    margin-left:650px;
    justify-content:center;
    display:flex;
    font-family:'Roboto';
    border-radius:0.3em;

  
    
  }
  .mainbtn:hover {
    border-color:#F27980;
    background-color:black;
    color:white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.40em);
    cursor:pointer;
    border-radius:0.6em;
    transition: all 1s ease-in-out;
  }

  .mainbtn:first-of-type{
    animation: showup 20s;
  }
  .mainbtn{
    background: #F27980;
    color:white;
    border:2px solid;
    padding: 1em 3em;
    font-size: 1em;
    transition: all 0.25s ease-in-out;
    margin-left:650px;
    justify-content:center;
    display:flex;
    font-family:'Roboto';
  
    
  }
  .mainbtn:hover {
    border-color:white;
    color:white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.40em);
    transform:scale(1.1);
    cursor:pointer;
  }

#logo_image{
  width:20%;
  margin-right: 0px;
  transition:1s;
  padding-top: 30em;
  flex-basis:40%;
  display:flex;
  padding-left:20px;
  box-sizing: border-box;
  border-radius: 0.1em;


}
#logo_image:hover{
  border-color:white;
  border-style:solid;
  border-width: 0em;
  color:#F27980;
  box-shadow: 0.1 0.3em 1.2em 1em #8179f2;
  transform: translateY(-3.3em);
  cursor:pointer;
  box-sizing: border-box;
  border-radius: 0.2em;
  
  
  
}
#container{
  display:flex;
  align-items:center;
  justify-content: center;
}



.homecontent p {

  margin-top: 100px;

  float:right;
  padding-left:20px;
  font-family:'Roboto';
  font-size: 1.3em;
  color:#F27980;
  padding-right:20px;
  margin-right:60px;
  

}

#parabtn{
  background: #F27980;
  color:#ffffff;
  border:0.1em solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 1s ease-in-out;
  margin-right:60px;
  font-family:'Roboto';
  border:black;
  box-sizing:border-box;
  border-radius:0.2em;
  



}
#parabtn:hover{
  background:#F27980;
  color:black;
  transition: all 0.5s ease-in-out;
  font-family:'Roboto';
  transform:translateY(-0.5em);
  border: 0.1em solid;
  border-color:#F27980;
  box-sizing:border-box;
  border-radius:0.6em;
  



}

.percentage{
  margin:2.1em ;
  margin-top:11em;
  float:left;
  width:fit-content;

  margin-bottom: 0.1em;


}
#survey {
  box-sizing: border-box;
  justify-content: center;
  margin-left:2.1;
  margin-top:0%;
  color:#F27980;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.percentage h1{
  margin-top: 1em;
  margin-left:1em;
  font-size: 10em;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#F27980;
  transition: all ease-in-out 2s;

  
  
}
.percentage h1 p{
  font-size:0.1em;
  transition: none;
}
.percentage h1:hover{
  transform:scale(1.2);


}
.research1{
  margin-top:18em;
  margin-right:19em;
  float:right;
  width:23em;
  margin-left:10em;
  margin-bottom:5em;
  transition:all 1s ease-in-out;
  
}
.research1:hover{
  transform:scaleX(1.1);
}
.research1 p{
  font-family:'Roboto';
  font-size:1.5em;
  font-weight: lighter;
  color:#F27980;

}
.research1 p sub{
  font-size: 0.6em;
}

.divider{
  min-height: 1px;
	padding-top: 4em;
	display: flex;
	justify-content: center;
	background: white;
  padding-bottom: 0%;
}
#dividercontent{
  height: 0.5em;
	width: 80%;
	background: brown;
	background: linear-gradient(90deg, brown, black, brown);

}
.ptitle{
  color:#F27980;
  position:relative;
  display:block;
  text-decoration:none;
  text-transform:uppercase;
  transition:0.5s;
}
.ptitle::after{
  position: absolute;
  content:"";
  width:100%;
  height:3px;
  top:100%;
  background:white;
  transition: transform 0.5s;
  transform:scaleX(0);
  transform-origin:center;

}
.ptitle:hover{
  color:black;
  transform:scaleX(1.1);
  transform:scaleY(2.2);

}
.ptitle:hover::after{
  transform:scaleX(1);
  transform-origin:left;
  transform:scaleZ(2);
}




#pie{
  

}







