@font-face {
    font-family: "Montserrat";
    src:url("Montserrat-Regular.ttf")
}

@font-face{
    font-family: "Montserrat Bold";
    src:url("Montserrat-Bold.ttf")
}

html{
    background-image: url("Graphics/table-cocktail-glass-bar(1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #2d2928;
    height: 100%;
}

body {
    font-family: "Montserrat-Regular";
}

.header {
    font-family: "Montserrat Bold";
    width: 100%;
    margin: 0 auto ;
    text-align: center;
}

.header h1 {
    color: #f27980;
    font-size: 75px;
    text-shadow: 2px 2px #000000;
}

.header p {
    color: #ffff;
    font-size: 25px;
    text-shadow: 2px 2px #000000;
}

.header h2 {
    color: #fdfd96;
    font-size: 50px;
    text-shadow: 2px 2px #000000;
}

.main {
    font-family: "Montserrat-Regular";
}

.navbar {
    background:#000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    border:none;
}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 100%;
    font-family: "Montserrat" ;
}

.navbar__links:hover {
    border-color:black;
    color: #fcafae;
    transform: translateY(-0.30em);
    cursor:pointer;
    transition: all 0.5s ease;
}
    
.navbar_logo {
    background-color:black;
    color:#fcafae;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2ems;
    padding-right: 250px;
    font-family: "Montserrat";
}

.navbar_logo:hover{
    transform: translate3d(-1rem, 0, 1rem);
    transition: all 1s ease;
}

.navbar_logo::after{
    transition:all 1s ease;
}

#main-header{
    color: #f27980;
    text-align: center;
    font-family: "Montserrat-Bold";
    padding: 10px;
}

#header2{
    text-align: center;
    font-family: "Montserrat-Bold";
    font-size: 30px;
}

.main{
    width:60%;
    margin:auto;
    overflow:hidden;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
}