@font-face {
    font-family: "Montserrat";
    src:url("Montserrat-Regular.ttf");
}

@font-face{
    font-family: "Montserrat Bold";
    src:url("Montserrat-Bold.ttf");
}

header {
}

.navbar {
    background:#000000;
    height: 80px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
    position:sticky;
    top:0;
    z-index:999;
}

.navbar_container{
    display:flex;
    justify-content: space-between;
    height:80px;
    z-index:1;
    width: 100%;
    max-width:1300px;
    margin: 0 auto;
    padding: 0 50px;
    border:none;
    

}
.navbar__links{
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    width:150px;
    text-decoration:none;
    height:100%;
    font-family: Tahoma ;
}



.navbar__links:hover {
    border-color:black;
    color: #fcafae;
    transform: translateY(-0.30em);
    cursor:pointer;
    transition: all 0.5s ease;
      }
    

.navbar_logo {
    background-color:black;
    color:#fcafae;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2ems;
    padding-right: 200px;

}
.navbar_logo:hover{
    transform: translateX(-0.20em);
    transition: all 0.5s ease;
   
}
.navbar_logo::after{
    transition:all 1s ease;
}

.main-content{
    margin-top: 40px;
    
}

.title{
    text-align: center;
}

.meetTheTeam{
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    position: relative;
    left: 250px;
    margin-bottom: 40px;
    margin-top: 25px;
    color:grey;
    
}

h3 {
    color: #f27980;
}

p1 {
    color: white;
}

p5 {
    font-family: "Montserrat";
    font-style: italic;
    font-size: 16px;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    bottom: 65px;
    color:lightgrey;
    text-align: center;
}

h1 {
font-family: "Montserrat Bold";
position: center;
margin-top: 30px;
font-size: 50px;
color:#f27980
}

h5 {
    font-family: "Montserrat Bold";
    position: center;
    margin-top: 30px;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color:#f27980
}

body{
    font-family: "Montserrat";
    font-size: 20px;
    background-image: url("placeholderimg/citynight.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-size:cover;

}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
    opacity:0;
  }

.imageMeekyle{
    margin-left: 50px;
    position: absolute;
    top: 325px;

}

.overMeekyle{
    margin-left: 50px;
    position: absolute;
    top: 325px;

}

.trueMeekyle{
     margin-left: 375px;
     margin-right: 50px;
     margin-bottom: 100px;
 }
 
 .imageSamuel{
     margin-left: 50px;
     position: absolute;
     top: 625px;
 
 }

 .overSamuel{
    margin-left: 50px;
    position: absolute;
    top: 625px;
 }

 .trueSamuel{
     margin-left: 375px;
     margin-right: 50px;
     margin-bottom: 100px;
 }

 .imageDarshan{
    margin-left: 50px;
    position: absolute;
    top: 925px;

}

.overDarshan{
    margin-left: 50px;
    position: absolute;
    top: 925px;
 }

.trueDarshan{
    margin-left: 375px;
    margin-right: 50px;
    margin-bottom: 125px;
}

.imageKristen{
    margin-left: 50px;
    position: absolute;
    top: 1225px;

}

.overKristen{
    margin-left: 50px;
    position: absolute;
    top: 1225px;
 }

.trueKristen{

    margin-left: 375px;
    margin-right: 50px;
    margin-bottom: 110px;
}

.imageAndre{
    margin-left: 50px;
    position: absolute;
    top: 1525px;

}

.overAndre{
    margin-left: 50px;
    position: absolute;
    top: 1525px;
 }

.trueAndre{
    margin-left: 375px;
    margin-right: 50px;
    margin-bottom: 125px;
}

.imageNodshley{
    margin-left: 50px;
    position: absolute;
    top: 1825px;

}

.overNodshley{
    margin-left: 50px;
    position: absolute;
    top: 1825px;
 }

.trueNodshley{
    margin-left: 375px;
    margin-right: 50px;
    margin-bottom: 150px;
}

div.body{
position: absolute;
top: 100px;
left: 75px;
}


div.content{
    font-family: "Montserrat";
    background-color: white;
    height: 500px;
    width: 550px;
    border: 10px solid #f27980;
    margin: -50px
}