@font-face {
    font-family: "Montserrat";
    src:url("Montserrat-Regular.ttf");
}

@font-face{
    font-family: "Montserrat Bold";
    src:url("Montserrat-Bold.ttf");
}

header {
}

.navbar {
    background:#000000;
    
    height: 80px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
    position:sticky;
    top:0;
    z-index:999;
}

.navbar_container{
    font-family: "Montserrat";
    display:flex;
    justify-content: space-between;
    height:80px;
    z-index:1;
    width: 100%;
    max-width:1300px;
    margin: auto;
    padding: 0 50px;
    border:none;
    

}
.navbar__links{
    font-family: "Montserrat";
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    width:150px;
    text-decoration:none;
    height:100%;
    font-family: Tahoma ;
}
/*
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
*/

.navbar__links:hover {
    border-color:black;
    color: #fcafae;
    transform: translateY(-0.30em);
    cursor:pointer;
    transition: all 0.5s ease;
      }
    

.navbar_logo {
    background-color:black;
    color:#fcafae;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2ems;
    padding-right: 200px;

}
/*
#bg{
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;
}
*/
.navbar_logo:hover{
    transform: translateX(-0.20em);
    transition: all 0.5s ease;
   
}
.navbar_logo::after{
    transition:all 1s ease;
}
/*
.main-content{
    margin-top: 40px;
    
}
*/

.title{
    text-align: center;
}

.meetTheTeam{
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    position: relative;
    left: 250px;
    color:grey;
    
}

h3 {
    color: #f27980;
}



p5 {
    font-family: "Montserrat";
    font-style: italic;
    font-size: 16px;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    bottom: 65px;
    color:lightgrey;
    text-align: center;
}

h1 {
font-family: "Montserrat Bold";
position: center;
font-size: 50px;
color:#f27980
}

h5 {
    font-family: "Montserrat Bold";
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color:#f27980
}

body{
    font-family: "Montserrat";
    font-size: 20px;
    background-image: url("placeholderimg/citynight.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
}


#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
    opacity:0;
  }

.imageMeekyle{
    margin-left: 50px;
    top: 300px;
    position: absolute;

}

.overMeekyle{
    margin-left: 50px;
    top: 300px;
    position: absolute;
}

.trueMeekyle{
     top:300px;
     left: 375px;
     position: relative;
 }
 
 .imageSamuel{
    margin-left: 50px;
    top: 650px;
    position: absolute;
 
 }

 .overSamuel{
    margin-left: 50px;
    top: 650px;
    position: absolute;
 }

 .trueSamuel{
    top:300px;
    left: 375px;
    position: relative;
 }

 .imageDarshan{
    margin-left: 50px;
    top: 950px;
    position: absolute;

}

.overDarshan{
    margin-left: 50px;
    top: 950px;
    position: absolute;
 }

.trueDarshan{
    top:400px;
    left: 375px;
    position: relative;
}

.imageKristen{
    margin-left: 50px;
    top: 1250px;
    position: absolute;

}

.overKristen{
    margin-left: 50px;
    top: 1250px;
    position: absolute;
 }

.trueKristen{
    top:500px;
    left: 375px;
    position: relative;
}

.imageAndre{
    margin-left: 50px;
    top: 1550px;
    position: absolute;

}

.overAndre{
    margin-left: 50px;
    top: 1550px;
    position: absolute;
 }

.trueAndre{
    top:610px;
    left: 375px;
    position: relative;
}

.imageNodshley{
    margin-left: 50px;
    top: 1850px;
    position: absolute;

}

.overNodshley{
    margin-left: 50px;
    top: 1850px;
    position: absolute;
    margin-bottom: 100px;
 }

.trueNodshley{
    top:710px;
    left: 375px;
    position: relative;
}

div.body{
position: absolute;
top: 100px;
left: 75px;
}


div.content{
    font-family: "Montserrat";
    background-color: white;
    height: 500px;
    width: 550px;
    border: 10px solid #f27980;
    margin: -50px
}

.Meekyle{
    color: white;

}

.Nodshley{
    color: white;
    position: absolute;
    top: 50px;

}

.Darshan{
    color: white;
}

.Kristen{
    color: white;
}

.Andre{
    color: white;
}

.Samuel{
    color: white;
}

/*
div{
    margin:10px;
    padding:10px
}
*/
