@font-face {
    font-family: "Montserrat";
    /*Make sure to change the destination of the file on the Github*/
    src:url("../Fonts/Montserrat/Montserrat-Regular.ttf")
}

@font-face{
    font-family: "Montserrat Bold";
    src:url("../Fonts/Montserrat/Montserrat-Bold.ttf")
}

body {
    background-color: white;
}

@keyframes fadeAndscale{
    0%{
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    50%{
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    100%{
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -70px;
  padding: 16px;
  color: #f27980;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
    margin-left: -100px;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  margin-right:250px;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: black;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f27980;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.header{
    animation: fadeAndscale 1s; /*cubic-bezier(.39,-1.05,.58,1.95);*/
    animation-delay: -0.5s;
    transform-origin: center bottom;
}

#header2{
    animation: fadeAndscale 1.5s ;
    animation-delay: -0.3s;
    transform-origin: center bottom;
}

#description{
    animation: fadeAndscale 2s ;
    transform-origin: center bottom;
}

.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    border: none;
}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 100%;
    font-family: "Montserrat";
}

.navbar__links:hover {
    border-color:black;
    color: #fcafae;
    transform: translateY(-0.30em);
    cursor: pointer;
    transition: all 0.5s ease;
}

.navbar__links#about_page {
    text-decoration: underline 2px #fcafae;
}

.navbar_logo {
    color: #fcafae;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2ems;
    padding-right: 200px;
    font-family: "Montserrat";
}

.navbar_logo:hover{
    transform: translate3d(-1rem, 0, 1rem);
    transition: all 1s ease;
}

.navbar_logo::after{
    transition:all 1s ease;
}

body{
    background-image: url("images/glasses.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#main-header{
    color:#f27980;
    text-align:center;
    font-family: "Montserrat-Bold";
    padding:10px;
}

#header2{
    text-align: center;
    font-family: "Montserrat-Bold";
    font-size: 30px;
}

.main{
    width:60%;
    margin:auto;
    overflow:hidden;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
}
